$red : #ba4440;
$t10: rgba(0,0,0, 0.1);
$t20: rgba(0,0,0, 0.2);
$t30: rgba(0,0,0, 0.3);
$t40: rgba(0,0,0, 0.4);
$t50: rgba(0,0,0, 0.5);
$t60: rgba(0,0,0, 0.6);
$t70: rgba(0,0,0, 0.7);
$t80: rgba(0,0,0, 0.8);
$t90: rgba(0,0,0, 0.9);

//white transparency
$t-white: rgba(255,255,255, 0.3);